body {
    font-family: 'Solway', serif;
    margin: 0;
    padding: 0; /*jknkjn */
    background-color: floralwhite;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
}

header {
    background-color:black;
    color: white;
    padding: 7px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
}

header h1 {
    font-family: 'Berkshire Swash', cursive;
    margin: 0;
    font-size: 3em; /* Adjust size as needed */
}

header ul {
    display: flex;
    align-items: center;
    padding-right: 33px;
}

header .person-logo {
    margin-left: 20px; /* Adjust as needed */
}

/* Add styles for the person logo */
.person-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-right: 35px;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

nav ul li select {
    font-family: 'Solway', serif;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%225%22 viewBox%3D%220 0 10 5%22%3E%3Cpath fill%3D%22%23fff%22 d%3D%22M0 0l5 5 5-5z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

nav ul li select option {
    color: black;
}

.search-icon {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: -40px; /* Adjust based on your design */
}

/* Styles for the search bar */
/* Search Bar Container */
.search-bar-container {
    position: relative; /* Allows for absolute positioning of the search icon */
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    padding-right: 40px; /* Add extra space on the right to accommodate the icon */
    border: 2px solid #ddd;
    border-radius: 100px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
}

.search-bar::placeholder {
    color: #888;
}

/* Search Icon Styling */
.search-bar-container .search-icon {
    position: relative;
    right: 15px;
    top: 18px;
    transform: translateY(-50%);
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    background: url('../images/search.png') no-repeat center;
    background-size: contain;
    border: none;
    background-color: transparent; /* Ensure the button background is transparent */
}

.featured-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 40px;
}

.recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;  /* Ensure links don't have underlines */
    color: inherit;  /* Inherit text color */
}

.recipe-card:hover {
    transform: translateY(-15px);
}

.recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-details {
    padding: 15px;
}

.recipe-details h3 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.recipe-details p {
    font-family: 'Solway', serif;
    font-size: 16px;
    color: #666;
    margin: 0;
}

footer {
    background-color: rgba(55, 52, 52, 0.8);
    color: #333f;
    text-align: center;
    margin-top: auto;
}